*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(57, 84, 85);
}
.webbody{
    width: 1000px;
    margin: 0 auto;
    background-color: white;
}
.header {
    padding-bottom: 18px;
    text-align: center;
}
.logo{
    padding-top: 18px;
}
.companyname h1 {
    font: 21px Verdana;
    font-weight: bold;
    color: rgb(97, 97, 97);
    text-transform: uppercase;
}
.companyname {
    padding-top: 10px;
    padding-bottom: 9px;
}
.slogan p {
    color: rgb(211, 49, 49);
    font: 13px Verdana;
}
.nav {
    list-style: none;
    text-align: center;
    background-color: rgb(60, 56, 56);
    padding: 4px 0px;
}
.nav li{
    display: inline-block;
    background-image: url(../img/nav.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.nav li.no {
    background: none;
}
.nav li a {
    color: white;
    text-decoration: none;
    font: 13px Verdana;
    padding: 8px 15px 8px 15px;
    display: inline-block;
}
.nav li a:hover {
    color: rgb(235, 201, 15);
}
.nav li a.active {
    color:  rgb(235, 201, 15);
}
.banner{
    margin-top: 2px;
    margin-bottom: 35px;
    overflow: hidden;
}
main {
    width: 940px;
    margin: 0 auto;
}
.head h2 {
    font: 21px Verdana;
    font-weight: bold;
    color: rgb(211, 49, 49);
    padding-bottom: 16px;
}
.content p {
    font: 13px Verdana;
    color: rgb(85, 83, 83);
    line-height: 140%;
}
.content {
    padding-bottom: 32px;
    border-bottom: 2px dashed rgb(85, 83, 83);
}
.serifcontent {
    margin-top: 17px;
    margin-bottom: 17px;
}
.serifcontent p {
    text-align: right;
    color: rgb(20, 88, 158);
    font-size: 19px;
    font-family: 'Times New Roman', serif;
}
p.authorname{
    padding-top: 10px;
    font: 13px Verdana;
    color: rgb(211, 49, 49);
}
.lastcontent {
    border-top: 2px dashed rgb(85, 83, 83);
    padding-top: 27px;
    padding-bottom: 63px;
    
}
.lastcontent p {
    font-size: 13px;
    font-family: Verdana, sans-serif;
    color: rgb(85, 83, 83);
    line-height: 140%;
}
.vbold {
    font-weight: bold;
    color: rgb(85, 83, 83);
}
.vit {
    font-style: italic;
    color: black;
}
.color{
    color: rgb(20, 88, 158);
}
.underline {
    color: #d33131;
    text-decoration: underline;
    text-decoration-color: #eaacac;
}
.abovefooter {
    width: 100%;
    padding-top: 5px;
    background-color: #c4c3c3;
    margin-top: 44px;
}
footer{
    background-color: rgb(60, 56, 56);
    padding-bottom: 23px;
}
.footnavul{
    padding-top: 23px;
    padding-bottom: 13px;
    text-align: center;
}
.footnavul li{
    display: inline-block;
    
}
.footnavul li a{
    color: white;
    text-decoration: none;
    font: 13px Arial;
}
.separatorfoot{
    color: white;
}
footer p{
    text-align: center;
    color: white;
    font: 12px Verdana;
}